nav{
    width: 100%;
    height: 50px;
    top:0;
    left: 0;
    background-color: brown;
    position: fixed;
    font-size: 30px;
}
.menu{
    float: right;
}
a{
    border: 4px;
    cursor: pointer;
    padding: 10px;
    top:100px;
}